@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: gainsboro;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  height: 10dvh;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 0.2em;
}

.submit-btn {
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #45a049;
}

.submit-btn:active,
.submit-btn:focus {
  background-color: #3e8e41;
}

input,
.submit-btn {
  padding: 12px;
  outline: none;
  border: 2px solid #ccc;
}

input.error {
  border: 2px solid red;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

form #text-input {
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: 1fr;
  width: 760px;
}

.error-message {
  color: red;
  font-size: 0.8em;
}

#text-input div {
  display: flex;
  flex-direction: column;
}

form button {
  width: 100%;
  margin-top: 1em;
  padding: 12px;
}

main {
  min-height: 85dvh;
}

footer {
  height: 5dvh;
  display: flex;
  align-items: center;
}

li {
  padding: 0.5em;
  margin-top: 1em;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li > button {
  padding: 8px;
  background: red;
  color: white;
  border: none;
  cursor: pointer;
}

#cart > p {
  margin-top: 1em;
}

fieldset {
  border: none;
}

@media screen and (max-width: 768px) {
  form {
    width: 100vw;
    padding: 1em;
  }

  #cart {
    padding: 1em;
  }

  form > #text-input {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 1em;
  }

  .submit-btn {
    margin-top: 1.75em;
  }
}
